/*
* Images
*/

/* Champion Images */
div.ChampIcons > img {
    background-color: green;
    width: 50px;
    height: 50px;
}

/* Summoner Spell Icons */

/* Rune Page Icons */
div.ChampIcons > div.perks > img {
    background-color: blue;
    width: 25px;
    height: 25px;
}

/* Item icons */
div.matchSummary > div.items > img {
    background-color: green;
    width: 25px;
    height: 25px;
}

/* Small champion icons */


div.ChampIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: auto;
    margin: auto;
}



div.championNames {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
}

div.matchSummary {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr 6fr 1fr;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

div.matchSummary > div.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100px;
    height: 50px;
    padding: auto;
    align-items: center;
    margin: auto;
}


div.ChampIcons > div.perks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
    padding: auto;
    margin: auto;
}

/* KDA */
div.KDA {
    align-items: center;
    text-align: center;
    margin: auto;
    
}

/* Background color */
.win {
    background-color: #28344e;
}

.lose {
    background-color: #89343b;
}

/* Player/Champion Name */
div.riotIdGameName {
    color: lightgrey;
}

div.riotIdGameName > strong {
    color: white;
}

/* Queue Type, Win/Loss, Game Duration */
div.InfoBox1 {
    text-align: center;
    align-items: center;
    margin: auto;
}

/* Vod Button */
div.vodButton {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}


i.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

div.vodButton > button {
    background-color: transparent;
    border: transparent;
}

div.vodDisplay {
    margin: 0px 50px 0px 50px;
}